@import url(./__logo/header__logo.css);
@import url(./__title/header__title.css);

.header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    position: relative;
    color: black;
}

.header-tests {
  height: 100px;
  color: #497649;
}